{% extends 'base.html' %}
{% load static %}
{% block title %}
Projets
{% endblock title %}

{% block content %}
<div class="rounded-lg bg-slate-50 p-4 h-96">
<h1 class="text-2xl pb-4">A propos</h1>
<hr>

    <div class="py-4"></div>
    <img src="{% static '/img/tailwind_logo.png' %}" class="object-contain w-32 pb-4" >
    <img src="{% static '/img/django_logo.png' %}" class="object-contain w-32 pb-4 " >
    <img src="{% static '/img/chartjs_logo.png' %}" class="object-contain w-8 pb-4 " >

</div>
{% endblock content %}


