{% extends 'base.html' %}

{% block title %}
Accueil
{% endblock title %}

{% block content %}









<!--
{% for task in Tasks %}
{{task.name|lower}}
{% endfor %}
-->
<div class="grid md:grid-cols-1 gap-1 sm:grid-cols-1">
<div>
  <div class="  w-full  rounded-lg border-slate-100 bg-white shadow-md p-4 relative" >
    <canvas style="position:relative; height:200px; width:100%" id="chartLine"></canvas>
    <div class="absolute right-0 top-0 rounded-lg bg-white shadow-lg  "><a class="" href="">Toutes les stats <span class="fa fa-angle-right"></span></a></div>
  </div>
</div>
<div>
</div>

<div class="grid md:grid-cols-2 gap-2 sm:grid-cols-1">

  <div class="  w-full rounded-lg border-slate-100 bg-white shadow-md p-0 " >

    <h1 class="text-1xl p-2  rounded-t-lg bg-gradient-to-r from-blue-100 to-teal-100">TODO (PBL projets perso en cours)</h1>
    <div class="grid grid-cols-1 divide-y px-2">
    <div class="relative">
    
    {% for project in Projects %}
    {% if project.status == "I" %}
    {% for us in project.pbl.us.all%}
    <a href="{% url 'project_detail' project_id=us.project.id %}" class="absolute right-0 p-2 text-slate-300 fa fa-eye"></a>
    {% if us.status == "I"%} <!--put I condition here-->
    <h2 class="text-sm py-2 px-2 bg-yellow-50">{{us.name}} ({{us.project}}) : {{us.i_want}}</h2>
    {% else %}
    <h2 class="text-sm py-2 px-2">{{us.id}} {{us.name}} ({{us.project}}) : {{us.i_want}}</h2>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    </div>
    </div>


    <h1 class="text-1xl p-2 bg-gradient-to-r from-blue-100 to-teal-100">TODO Aujourd'hui ({{Now}})</h1>
    <div class="grid grid-cols-1 divide-y px-2 mb-4">
    {% for task in Tasks %}
    {% cycle '' 'bg-slate-50' as rowcolors silent %}
    <h2 class="text-sm py-2 px-2 {{ rowcolors }}">{{task.name}}</h2>
    {% endfor %}
    </div>


  </div>

  <div class="  w-full rounded-lg border-slate-100 bg-white shadow-md  " >
    {% include 'calendar.html'%}
  </div>





  </div>
</div>


  
  <!-- Chart line -->
  <script>

    const labels = {{data1|safe}};
    const data = {
      labels: labels,
      datasets: [
        {
          label: "Évolution de ta productivité",
          backgroundColor: "hsl(142, 69%, 58%)",
          borderColor: "hsl(142, 69%, 58%)",
          data: {{data2|safe}},
        },
      ],
    };
  
    const configLineChart = {
      type: "line",
      data,
      options: {},
    };
  
    var chartLine = new Chart(
      document.getElementById("chartLine"),
      configLineChart
    );
  </script>



{% endblock content %}