{% extends 'base.html' %}

{% block title %}
Accueil
{% endblock title %}

{% block content %}










<!--
{% for task in Tasks %}
{{task.name|lower}}
{% endfor %}
-->
<div class="grid md:grid-cols-1 gap-1 sm:grid-cols-1">
<div>
  <div class="  w-full  rounded-lg border-slate-100 bg-white shadow-md p-4" >
    <canvas style="position:relative; height:200px; width:100%" id="chartLine"></canvas>
  </div>
</div>
<div>
</div>

<div class="grid md:grid-cols-2 gap-2 sm:grid-cols-1">

  <div class="  w-full rounded-lg border-slate-100 bg-white shadow-md p-0 " >

    <h1 class="text-1xl p-2  rounded-t-lg bg-gradient-to-r from-blue-100 to-teal-100">TODO (PBL projets perso en cours)</h1>
    <div class="grid grid-cols-1 divide-y px-2">

    {% for project in Projects %}
    {% cycle '' 'bg-slate-50' as rowcolors silent %}
    {% if project.status == "I" %}
    {% for us in project.pbl.us.all %}
    <h2 class="text-sm py-2 px-2">{{us.name}} ({{us.project}}) : {{us.i_want}}</h2>
    {% endfor %}
    {% endif %}
    {% endfor %}
    </div>



    <h1 class="text-1xl p-2 bg-gradient-to-r from-blue-100 to-teal-100">TODO Aujourd'hui ({{Now}})</h1>
    <div class="grid grid-cols-1 divide-y px-2 mb-4">
    {% for task in Tasks %}
    {% cycle '' 'bg-slate-50' as rowcolors silent %}
    <h2 class="text-sm py-2 px-2 {{ rowcolors }}">{{task.name}}</h2>
    {% endfor %}
    </div>


  </div>

  <div class="  w-full rounded-lg border-slate-100 bg-white shadow-md  " >
    <h1 class="text-1xl p-2  rounded-t-lg bg-gradient-to-r  from-teal-100 to-teal-200">Calendrier</h1>
    <div class="divider h-8 w-max bg-green-200"></div>

  </div>
  
  
    
  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <!-- Chart line -->
  <script>

    const labels = {{data1|safe}};
    const data = {
      labels: labels,
      datasets: [
        {
          label: "Évolution des tâches",
          backgroundColor: "hsl(142, 69%, 58%)",
          borderColor: "hsl(142, 69%, 58%)",
          data: {{data2|safe}},
        },
      ],
    };
  
    const configLineChart = {
      type: "line",
      data,
      options: {},
    };
  
    var chartLine = new Chart(
      document.getElementById("chartLine"),
      configLineChart
    );
  </script>



{% endblock content %}