{% extends 'base.html' %}

{% block title %}
Projets
{% endblock title %}

{% block content %}
<div class="rounded-lg bg-slate-50 p-4 ">

<div class="relative">
<h1 class="text-2xl">US {{US}}</h1>
<a href="#" class="absolute right-0 top-0 fa fa-edit"></a>
</div>


<hr class="mb-4 mt-2">



<div class="grid grid-cols-4 gap-4">

<div class="p-4 shadow-lg rounded-lg overflow-hidden lg:col-span-3 col-span-4">
hola
</div>






<div class="shadow-lg rounded-lg overflow-hidden lg:col-span-1 col-span-4">
hola
  </div>


</div>


</div>


<!-- Chart doughnut -->
<script>
    const dataDoughnut = {
      labels: ["US en cours (PBL)", "En attente"],
      datasets: [
        {
          label: "My First Dataset",
          data: [{{data1|safe}},{{data2|safe}}],
          backgroundColor: [
            "rgb(133, 105, 241)",
            "rgb(164, 101, 241)",
            "rgb(101, 143, 241)",
          ],
          hoverOffset: 4,
        },
      ],
    };
  
    const configDoughnut = {
      type: "doughnut",
      data: dataDoughnut,
      options: {},
    };
  
    var chartBar = new Chart(
      document.getElementById("chartDoughnut"),
      configDoughnut
    );
  </script>

{% endblock content %}


