{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}Base title{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		
	</head>

	<body class="bg-slate-200 font-normal">




		<nav class="bg-white shadow-md">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<!-- Website Logo -->
							<a href="{% url 'index' %}" class="flex items-center py-4 px-2">
								<img src="{% static 'img/serval.png' %}" alt="Logo" class="h-8 w-8 mr-2">
								<span class="font-semibold text-gray-500 text-lg">Dashboard</span>
							</a>
						</div>
						<!-- Primary Navbar items -->
						<div class="hidden md:flex items-center space-x-1">
							<!--py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold -->
							<a href="{% url 'index' %}" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Accueil</a>
							<a href="{% url 'projects' %}" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Projets</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Sport</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Argent</a>
							<a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">ManyLinks</a>
							<a href="{% url 'about' %}" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">A propos</a>

						</div>
					</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
						<a href="{% url 'admin:index' %}" class="py-2 px-2 font-medium text-gray-500 rounded bg-slate-100 hover:bg-green-500 hover:text-white transition duration-300">Admin</a>
					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Home</a></li>
					<li><a href="#services" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Services</a></li>
					<li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">About</a></li>
					<li><a href="#contact" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact Us</a></li>
				</ul>
			</div>
			
		</nav>




	<div class="bg-slate-100 mx-4 my-4 px-8 py-8 rounded-lg shadow-md">	
      {% block content %}
         Body content
      {% endblock %}
	</div>











<!--
	<footer class="text-center text-white pt-40" >

	  
		<div class="text-center text-gray-700 p-2 bg-slate-200">
		  © 2021 Copyright:
		  <a class="text-gray-800" href="https://www.linkedin.com/in/kamil-boudani/">Kamil Boudani</a>
		</div>
	  </footer>

	-->


















	<script>
		const btn = document.querySelector("button.mobile-menu-button");
		const menu = document.querySelector(".mobile-menu");

		btn.addEventListener("click", () => {
			menu.classList.toggle("hidden");
		});
	</script>
	</body>
</html>
