

{% if displayform %}
{% if displayform == 'horizontal' %}
<form class="m-2" method="POST" action="{{ action }}">

    {% csrf_token %}
   
    <div class="grid grid-cols-9 gap-4">
            {% for field in form %}
            <div class="border-0 pb-4 col-span-3">
                <div>{{ field.errors }}</div>
                <div class="columns-2">
                <div class="">{{ field.label_tag }}</div>
                <div class="">{{ field }}</div>
                </div>
            </div>
        {% endfor %}
        
        </div>

        <hr class="m-2">
    <button name="{{name_action}}" class="submit  px-2 py-2 rounded-lg text-green-400 border-2 border-green-400  hover:border-white hover:text-white hover:bg-green-400">{{btn_label}}</button>

</form>
{% endif %}

{% else %}
<form class="m-2 pb-2" method="POST" action="{{ action }}">

    {% csrf_token %}
   
    <div class="grid grid-cols-1 gap-1">
            {% for field in form %}
            <div class="border-0 col-span-1">
                <div>{{ field.errors }}</div>
                <div class="columns-2">
                <div class="">{{ field.label_tag }}</div>
                <div class="">{{ field }}</div>
                </div>
            </div>
        {% endfor %}
        </div>

        <hr class="m-2">
    <div class="relative w-full h-10 ">
    <button name="{{name_action}}" class="absolute right-0 submit px-5 py-2 rounded-lg text-green-400 border-2 border-green-400  hover:border-white hover:text-white hover:bg-green-400">{{btn_label}}</button>
    </div>
</form>

{% endif %}


