<div class="grid grid-cols-1 mb-6  invisible lg:visible ">
	<a href="#" class="invisible lg:visible">

		<div class="text-center text-sm text-white p-4 invisible lg:visible">Modules / Liens (bientôt)</div>

		<div class="w-0 h-0 lg:h-20 lg:w-20 bg-slate-800 mx-auto lg:mt-6 rounded-lg shadow-2xl invisible lg:visible ">
			<span class="mx-6 mt-6 text-4xl text-green-500 fab fa-spotify invisible lg:visible "></span>
		</div>
		<a href="#" class="invisible lg:visible">
		<div class="w-0 h-0 lg:h-20 lg:w-20 bg-slate-100 mx-auto lg:mt-6 rounded-lg shadow-2xl invisible lg:visible ">
			<span class="mx-6 mt-6 text-4xl text-slate-500 fa fa-plus invisible lg:visible "></span>
		</div>
	</a>
	

</div>

<!--<h1 class="absolute bottom-2 left-2 text-slate-400 text-xs">All credit to Kamil B.</h1>-->